*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px dotted red;
}

.container-centered{
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

nav{
    
}

#nav-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 70px;

    background-color: blue;
}

#nav-inner ul{
    list-style-type: none;
}

#logo{
    width: 100px;
    background-color: darkblue;
    height: 70px;
}

#links{
    display: flex;
    align-items: stretch;
}

#links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 34px;
}

#links li{
    background-color: darkblue;
    width: 60px;
    height: 30px;
}

#login{
    width: 100px;
    background-color: darkblue;
    height: 70px;
}

header{
    background-color: aqua;
}

#jumbo{
    display: flex;
    justify-content: center;
    background-color: blue;
    min-height: 400px;
}

#jumbo-inner{
    width: 550px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    height: 60px;
    margin-bottom: 0.8em;
    background-color: darkblue;
    /* test */
}

p{
    background-color: darkblue;
    /* test */
    margin-bottom: 0.5em;
}

#btns{
    height: 60px;
    background-color:blue;
    /* test */

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

#btn-primary{
    height: 60px;
    background-color: darkblue;
    width: 140px;
}

#btn-secondary{
    height: 60px;
    background-color: darkblue;
    width: 140px;
}

section{
    height: 520px;
    width: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2{
    background-color: orange;
    height: 150px;
    width: 300px;
}

.h2-descr{
    display: flex;
    flex-direction: column;
}

.descr{
    background-color: orange;
    height: 150px;
    width: 300px;
}

.immagine{
    background-color: orange;
    height: 300px;
    width: 300px;
}